/* element selector */
body {
	padding-top: 0rem;
}

/* id selector */
#sticky-sidebar {
	position: fixed;
    z-index: 1;
    top: 55px;
    left: 10px;
	overflow-x: hidden;
    padding: 8px 0;
}

#my-profil {
	background-image: url(http://localhost/elearning/assets/image/bg-profil.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 170px;
	padding-bottom: 20px;
	color: white;
}

#my-welcome {
	background-image: url();
	background-position: 0% 65%;
	background-size: cover;
	background-repeat: no-repeat;
}

/* class selector */

.my-distance {
	padding-top: 4rem;
}

#my-map {
	width: 100%;
	margin: auto;
}

path {
	fill: #2244d5;
	stroke: #fff;
	stroke-width: 1px;
	transition: fill 0.3s; 
}

path:hover {
	fill: rgb(15, 7, 92);
	stroke: #fff;
	stroke-width: 1px;
	transition: fill 0.2s;
	cursor: pointer;
}

/* style home page */

/*---------------------------------- SERVICES ----------------------------*/
.services {
	padding: 120px 0 120px;
	text-align: center;
}

.services h1,
.services h4 {
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.services p{
	color: #737373;
	font-size: 14px;
	padding-bottom: 40px;
}

.services i {
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color: #6699cc;
	color: #fff; 
}

/*----------------------------- PRICING -----------------------------*/
.pricing {
	padding: 20px 0 20px;
	text-align: center;
	background-color: #222222;
}

.pricing h2,
.pricing p {
	color: #fff;
}

.pricing p {
	padding-bottom: 10px;
}

.pricing .packages {
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
}

.packages li {
	display: block;
	padding: 5px;
}

.packages h4,
.packages h1,
.packages b {
	color: #4c4c4c;
}

.packages p,
.packages li {
	color: #737373;
}

.packages button {
	margin-top: 10px;
}

/*------------------------------- TEAM -----------------------------*/

.team {
	padding: 60px 0;
	text-align: center;
}

.team b,
.team h2,
.team h4 {
	margin: 20px 0 20px;
	color: #4c4c4c;
}

.team p {
	color: #737373;
}

.team img {
	height: 150px;
	width: 150px;
	margin-top: 80px;
}

.team i {
	height: 30px;
	width: 30px;
	padding: 5px;
	font-size: 17px;
	border-radius: 50%;
	background-color: #a0db8e;
	color: #fff;
}

.team a:hover i {
	background-color: #709963;
}

/*----------------------------------- CONTACT ------------------------------------*/
.contact {
	padding: 50px 0 80px;
	text-align: center;
	background-color: #222222;
}

.contact p {
	padding-bottom: 80px;
	color: #ffffff;
}

.contact h2 {
	color: #ffffff;
	margin: 20px 0 20px;
}

.contact .input-group {
	margin-bottom: 25px;
}

.contact .form-control {
	border-radius: 0 !important;
}

.contact span {
	border-radius: 0 !important;
}

.contact .btn {
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	background-color: #f08080;
	color: #fff;
}

.contact .btn:hover {
	background-color: #a85959;
	color: #fff !important;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* --------------------- CUSTOM ------------------------ */
.card {
	margin-bottom: 10px;
}

/* ---------------------- STAR RATING ------------------------- */
fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85; }